{% extends 'base.html' %}

{% load sekizai_tags %}

{% block content-wrapper %}
    <div class="container-fluid">
        <iframe id="mercury" seamless scrolling="no" title="mercury" width="100%" height="100%" src="/mercury"></iframe>
    </div>

    {% addtoblock "js" %}
    <script>
        setInterval(function() {
            $("#mercury").height($("#mercury").contents().height());
        }, 1000);
    </script>
    {% endaddtoblock %}
{% endblock %}