{% extends "base.html" %}
{% load staticfiles compress %}
{% load i18n %}

{% block extra_head %}
{{ block.super }}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-resource.js"></script>

    {% compress js %}
        <script src="{% static 'scripts/vendor/angular/angular-locale_pl.js' %}"></script>
        <script src="{% static 'scripts/vendor/angular/angular-locale_pl-pl.js' %}"></script>

        <script src="{% static 'silf/reservation/scripts/reservation.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'scripts/vendor/ui-bootstrap-tpls-0.12.1.js' %}"></script>
    {% endcompress %}
{% endblock extra_head %}

{% block content %}
{% if user.is_authenticated %}
    <div ng-app="reservationApp" ng-controller="ReservationCtrl">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="well" style="margin-top: 20px; padding-left: 50px; padding-right: 50px;">
                    <form ng-submit="makeReservation(experimentReservation)" name="experimentReservation" class="form-horizontal" role="form" >
                        <fieldset>
                            <legend>{% trans "Make a reservation" %}</legend>
                            {% verbatim %}
                            <div ng-repeat="em in errorMsg" class="alert alert-danger">
                                {{em}}
                            </div>
                            {% endverbatim %}
                            <div ng-show="successMsg" class="alert alert-success">
                                {% verbatim %}
                                {{successMsg}}
                                {% endverbatim %}
                            </div>

                            {% csrf_token %}
                            <input type="hidden" id="currentUser" value="{{ user.username }}">

                            <div class="form-group">
                                <label for="experimentName">
                                    {% trans "Experiment" %}
                                </label>
                                <select class="form-control" id="experimentName" name="experimentName" ng-change="onExperimentChange()"
                                        ng-required="true" ng-model="experiment" ng-options="e.displayName for e in experiments">
                                </select>
                                <div class="has-error" ng-show="experimentReservation.experimentName.$dirty && experimentReservation.experimentName.$invalid">
                                    <span class="help-block" ng-show="experimentReservation.experimentName.$error.required">
                                        {% trans "Choose experiment" %}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>
                                    {% trans "Select reservation method" %}
                                </label><br>
                                <div class="radio radio-primary">
                                    <label>
                                        <input id="reservByDate" type="radio" name="reservType"
                                           ng-model="reservMode" value="DATE" ng-change="onReservModeChange()">
                                        {% trans "Please give reservation date" %}
                                    </label>
                                </div>
                                <div class="radio radio-primary">
                                    <label>
                                        <input id="reservForNow" type="radio" name="reservType"
                                           ng-model="reservMode" value="NOW" ng-change="onReservModeChange()">
                                        {% trans "Reserve for now" %}
                                    </label>
                                </div>
                            </div>

                            <div class="form-group byDate">
                                <label for="reservationDate">
                                    {% trans "Reservation date" %}
                                </label>
                                <input id="reservationDate" name="reservationDate" class="form-control" type="text"
                                       ng-model="startDate" placeholder="dd/MM/rrrr"
                                       datepicker-popup="dd/MM/yyyy" min="minDate" max="maxDate" is-open="datePickerOpened"
                                       datepicker-options="dateOptions" ng-required="true" show-weeks="false"/>
                                <button type="button" class="btn btn-default btn-raised"
                                        ng-click="datePickerOpen()">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                                <div class="has-error" ng-show="experimentReservation.reservationDate.$dirty && experimentReservation.reservationDate.$invalid">
                                    <span class="help-block" ng-show="experimentReservation.reservationDate.$error.required">
                                        {% trans "Please fill the field" %}
                                    </span>
                                    <span class="help-block" ng-show="experimentReservation.reservationDate.$error.pattern">
                                        {% trans "Bad date format" %}
                                    </span>
                                    <span class="help-block" ng-show="experimentReservation.reservationDate.$error.inPast">
                                        {% trans "Reservation can't be for date in the future" %}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group byDate">
                                <label for="reservationTime" class="control-label">
                                    {% trans "Hour for reservation" %}
                                </label>
                                <input class="form-control" id="reservationTime" name="reservationTime"
                                       type="datetime" ng-model="startTime" placeholder="hh:mm" required ng-minlength="5" ng-pattern="/^(([01]\d)|2[0-3]):([0-5]\d)$/"/>
                                <div class="has-error" ng-show="experimentReservation.reservationTime.$dirty && experimentReservation.reservationTime.$invalid">
                                    <span class="help-block" ng-show="experimentReservation.reservationDate.$error.required">
                                        {% trans "Please fill the field" %}
                                    </span>
                                    <span class="help-block" ng-show="experimentReservation.reservationTime.$error.pattern">
                                        {% trans "Invalid reservation hour format" %}
                                    </span>
                                    <span class="help-block" ng-show="experimentReservation.reservationDate.$error.inPast">
                                        {% trans "Reservation can't be for date in the future" %}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="reservationDuration">
                                    {% trans "Reservation time in minutes" %}
                                </label>
                                <select class="form-control" id="reservationDuration" name="reservationDuration"
                                        required ng-model="duration" ng-options="d for d in possibleDurations">
                                </select>
                                <div class="has-error" ng-show="experimentReservation.reservationDuration.$dirty && experimentReservation.reservationDuration.$invalid">
                                    <span class="help-block" ng-show="experimentReservation.reservationDuration.$error.required">
                                        {% trans "Select reservation duration" %}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" id="submit" class="btn btn-primary" ng-disabled="!experiments">
                                    {% trans "Make a reservation" %}
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% else %}
    {% trans "To make a reservation you need to log in" %}
{% endif %}
{% endblock content %}
