{% extends "base.html" %}

{% load i18n %}

{% block content %}

    {% regroup object_list by session.experiment as data_series %}
    <h2>{% trans Your data series}</h2>
    <ul>
        {% for series in data_series %}
        <li> {% trans Experyment:} {{ series.grouper.display_name }} {% trans z } {{ series.list.0.session.start_date}}
        <ul>
            {% for item in series.list %}
                <li>
                    <p> {% trans Series } {{ item.name }}
                    {% trans Download format:}
                    <ul>
                        <li><a href="{% url 'download-data-series' data_series=item.id %}?format=csv">csv</a></li>
                        <li><a href="{% url 'download-data-series' data_series=item.id %}?format=xls">xls</a></li>
                        <li><a href="{% url 'download-data-series' data_series=item.id %}?format=dat">dat</a></li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
